.body{
  font-size: 15px;
  background-image: url("bg.jpeg");
  background-size: cover;
  height: 100vh;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  text-align: center;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
  position: absolute;
  width: 400px;
  height: 650px;
  background: linear-gradient(to left, red, deeppink);
  margin: 0 12%;
  top: 30px;
  border-radius: 10px;
}
.card nav{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card nav div{
  width: 20px;
  height: 20px;
  border: 5px solid black;
  background: none;
  border-radius: 50%;
  margin: 0 10px;
  padding: 3px;
  box-shadow: 2px 2px 2px dimgrey;
}
.card nav div img{
  width: 100%;
}
.content .song-img{
  width: 250px;
  height: 250px;
  border: 5px solid black;
  border-radius: 50%;
  margin-top: 60px;
}
.content h1{
  font-size: 20px;
  margin-top: 10px;
}
.content h2{
  font-size: 15px;
  margin-top: -15px;
  margin: 0 120px;
}
#progressBar{
  /*-webkit-appearance: none;*/
  width: 320px;
  height: 5px;
  outline: none;
  background: none;
  border: 1px solid black;
  border-radius: 1.5em;
}
/*#progressBar::-webkit-slider-thumb{
 -webkit-appearance: none;
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}*/
.controls{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.controls div{
  width: 60px;
  height: 60px;
  border: 3px solid black;
  margin: 0 10px;
  border-radius: 50%;
}
.controls div img{
  width: 100%;
}
.controls div:nth-child(2){
  width: 90px;
  height: 90px;
  background: royalblue;
  border: none;
  margin-top: -10px;
}
.reason{
  font-family: cursive;
  font-size: 25px;
  font-weight: 1000;
  color: greenyellow;
}
.gold{
  z-index: 100;
  position: fixed;
  top: 32%;
  left: 28%;
}
.time{
  display: flex;
  text-align: center;
}
.time .space{
  margin-left: 10px;
}
.time h2{
  color: deepskyblue;
  font-size: 30px;
}
.time p{
  color: black;
  font-weight: 800;
}
.rocket{
  width: 200px;
  position: absolute;
  left: 30%;
  bottom: 0;
  animation: rocket 6s infinite;
}
@keyframes rocket{
  0%{
    bottom: 0%;
    opacity: 0;
  }
  100%{
    bottom: 105%;
    opacity: 1;
  }
}
.footer{
  z-index: 100;
  position: fixed;
  bottom: 1%;
  color: white;
  font-size: 10px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  left: 1%;
  right: 1%;
}
.footer p span{
  width: 90%;
}

